* {
    font-family:  "Roboto", serif;
}

.post {
   width: 500px; 
   display:flex;
   flex-direction: column;
   margin: auto;
   border: solid 0.5px black;
   border-radius: 10px;
   color:black;
   font-size: 14px;
}

.post-header{
    display:flex;
    height: 60px;
}

#content-header {
    display:flex;
    flex-direction: column;
    margin-right: 375px;

}

.dot {
    font-size: xx-large;
    margin-top: -25px;
    font-weight: bolder;
    margin-right: 3px;
}

/* .post {
    color:black;
    font-size: 14px;
} */

.post-body {
    margin:10px;
    margin-top: -3vh;
}

.post-header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom {
    display:flex;
}

.icons {
    display:flex;
    margin-right: 155px;
    font-size: xx-large;
    width: fit-content;
    margin-left: 0px;
    margin-right: 59%;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
  }

li {
        list-style-type: none;
        margin: 4px;
        padding: 4px;

}

.icon-dx {
    font-size: xx-large;
    width: fit-content;
}

span {
    font-weight: bold;
}

/* .icons {
    display: flex;
    margin-right: 125px;
    margin-left: 0px;
    padding-left: 0px;
} */

#subtitle {
    margin-top: -10px;
    font-size: small;
}
